@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #242ac3;
}

main {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
  padding: 0 1rem;
}

h1 {
  font-size: 6.3rem;
  margin-top: -15rem;
}

h1,
p,
button {
  background-color: black;
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
  display: inline-block;
}

p {
  font-size: 2.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70rem;
  height: 4rem;
  padding: 0 1rem;
}

span {
  color: #4ca9db;
}

.mb {
  margin-bottom: 6rem;
}

button {
  color: #fff;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  transform: translateY(1px);
}
